<div class='container'>
  <div class='row main'>
    <div class='col-lg-10 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row logo'>
          <div class='col-md-8 offset-md-2 col-8 offset-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>
      <div class='col-lg-8 offset-lg-2 d-none d-sm-none d-md-block title-box'>
        <div class='row justify-content-center'>
          <h2 class='subtitle'>O melhor conversor de moedas!</h2>
        </div>
      </div>

      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
  </div>
</div>
